@import "../../node_modules/bootstrap/scss/bootstrap";

$main-font: 'Gotham';
$bold-font: 'Gotham-Bold';
$bg-color: #DFDFCF;
$font-color: #444443;
$contact-background: #BAD3F1;
$contact-font-color: #303E82;

@font-face {
    font-family: 'Gotham';
    src: url('../font/Gotham-Book.ttf') format("truetype");
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../font/Gotham-Bold.ttf') format("truetype");
}
