@import './variables';

body {
    background: $bg-color;
    font-family: $main-font;
    color: $font-color;
    width: 100%;
    height: 100vh;
}
* {
    box-sizing: border-box;
}
.green {
    background: #8BDE98;
    width: 100%;
    height: auto;
}
.home {
    color: $font-color;
    font-family: $bold-font;
}
.prev {
    position: absolute;
    transform: rotate(-90deg);
    top: 50%;
    left: 5px;
}
.next {
    position: absolute;
    top: 50%;
    right: 5px;
    color: white;
    transform: rotate(90deg);
}
.transparent {
    background: transparent;
    width: 100%;
    height: 100%;
}
h1 { 
    text-transform: uppercase;
    font-family: $bold-font;
}
#text {
    font-size: 20px;
    color: #E16B6B;
    font-family: $bold-font;
}
.arrow-up {
    position: relative;
    left: 550px;
    bottom: 800px;
}
.arrow-down {
    position: relative;
    left: 550px;
    bottom: 750px;
}
#first-ul {
    margin-left: 115px;
}
#second-ul {
    margin-right: 160px;
}
* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

@media (max-width: 361px) {
   .arrow {
       display: none;
   }
   .home, .prev, .next {
       display: none;
   }
   h1 {
       font-size: 18px;
   }
}

@media (max-width: 412px) {
    .arrow {
        display: none;
    }
    .home, .prev, .next {
        display: none;
    }
    h1 {
        font-size: 18px;
    }
}