@import './variables';

body {
    font-family: $main-font;
    background: $contact-background;
    margin: 0;
    padding: 0;
    width: 100%;
    color: $contact-font-color;
}
div {
    box-sizing: border-box;
    color: $contact-background;
    font-family: $bold-font;
}
nav {
    span {
        font-family: $bold-font;
        font-size: 60px;
        line-height: normal;
    }
    a {
        color: $contact-font-color;
        font-weight: bold;
    }
    li {
        font-weight: bold;
    }
    #first-ul {
        margin-left: 140px;
    }
    #second-ul {
        margin-right: 140px;
    }
}
.navbar {
    width: 96%;
}
#my-container {
    margin: 30px 0;
}
#rectangle {
    height: 683px;
    width: 1220px;
    background: #303E82;
    width: 80%;
    a {
        color: $contact-background;
        font-size: 24px;
        text-decoration: underline;
        font-family: $bold-font;
    }
    #close {
        cursor: pointer;
    }
}
