@import './variables';

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    font-family: $main-font;
    background: $bg-color;
    color: $font-color;
    overflow: hidden;
}
.loader {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
} 
.hide {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
nav {
    z-index: 1;
}
ul {
    position: fixed;
    left: 20%;
    z-index: 1;
    span {
        font-size: 18px;
        font-weight:bold;
        line-height: normal;
    }
    a {
        font-size: 18px;
        font-weight:bold;
        z-index: 1;
    }
    h1 {
        font-weight:bold;
        line-height: normal;
    }
} 
.rectangle {
    border: 10px solid $font-color;
    width: 61%;
    padding: 15%;
    background-image: url('../images/Group4.png');
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}
.bg-container {
    top: 15%;
    left: 18%;
}
.arrow {
    cursor: pointer;
    z-index: 1;
}
.arrow-container {
    z-index: 1;
}
.arrow-down {
    transform: rotate(180deg);
}
.box-container {
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.box-parent {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 50%;
    background: transparent;
    border: transparent;
    left: 10%;
    bottom: 5%;
}
.box {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 60%;
    border: 2px solid springgreen;
    background: transparent linear-gradient(231deg, #BC8BB9 0%, #B21B1B 43%, #198536 86%, #808080 100%) 0% 0% no-repeat padding-box;
    opacity: 0.6;
    border: 1px solid #707070;
    cursor: pointer;
    padding: 0;
    margin: 0;
    top: 5%;
    left: 15%;
}
.box-1-parent {
    display: inline-block;
    position: relative;
    width: 35%;
    height: 50%;
    background: transparent;
    border: transparent;
    top: 45%;
    left: 10%;
}
.box-1 {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 60%;
    border: 1px solid #707070;
    background: transparent linear-gradient(231deg, #4A5CCC 0%, #BF30A3 43%, #198536 86%, #C94747 100%) 0% 0% no-repeat padding-box;    
    opacity: 0.6;
    border: 1px solid #707070;
    cursor: pointer;
    top: 0;
    left: 35%;
}
h3 {
    font-weight: bold;
    color: $font-color;
    opacity: 0;
    z-index: 99;
    position: relative;
    left: 40%;
    top: 37%;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}
.box-1-copy {
    position: absolute;
    width: 35%;
    height: 50%;
    background: $bg-color;    
    opacity: 1;
    left: 40%;
    bottom: 36%;
    cursor: pointer;
    transform: scaleY(0);
    transition: transform 1s;
    transform-origin: 0 0;
}
.box-1-parent:hover .box-1-copy {
    transform: scaleY(1);
    visibility: visible;
}
.box-1-parent:hover h3 {
    opacity: 1;
    transition: all .2s ease-in-out;
}
.js-clone {
    top: 50%;
}
.date-1 {
    color: $font-color;
    font-weight: bold;
    position: relative;
    left: 56%;
}
.date {
    color: $font-color;
    font-weight: bold;
    left: 34%;
    top: 5%;
}
h4 {
    line-height: normal;
} 
h5 {
    margin-left: 5px;
}
.divider {
    width: 20px;
    border: 2px solid $font-color;
    background: $font-color;
    margin-left: 5px;
}
.social-container {
    visibility: hidden;
}
.social {
    width: 20%;
    height: auto;
}
* {
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

@media (max-width: 281px) {
    nav {
        top: -10%;
    }
   ul {
       li {
        span {
            visibility: hidden;
        }
        a {
            visibility: hidden;
        }
        h1 {
            margin: 5px 40px;
        }
       }
   }
   .arrow  {
       visibility: hidden;
   }
    .rectangle {
        border: transparent;
        background-size: 100% 100%;
        width: 30%;
        padding: 49%;
        background-size: cover;
    }
    body {
        border: 10px solid;
        position: fixed;
    }
    .bg-container {
        left: 0;
        top: 25%;
    }
    .social-container {
        visibility: visible;
        position: absolute;
        bottom: 5%;
        margin: 0 20px;
    }
    .loader {
        visibility: hidden;
    }
    .box-parent {
        width: 45%;
        height: 15%;
        left: 5%;
    }
    .box {
        width: 55%;
        height: 65%;
    }
    .box-1-parent {
        width: 45%;
        height: 15%;
        left: 0;
    }
    .box-1 {
        width: 55%;
        height: 65%;
    }
    .box-1-parent:hover .box-1-copy {
        visibility: hidden;
    }
    .box-1-parent:hover h3 {
        opacity: 0;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .divider {
        margin-left: 5px;
    }
    .date-1 {
        left: 56%;
    }
    .date {
        left: 34%;
        top: 5%;
    }
    .js-clone {
        top: 80%;
    }
}

@media (max-width: 653px) and (orientation: landscape) {
    nav {
        display: flex;
        flex-direction: row;
        top: -15%;
    }
    ul {
        left: 10%;
        li {
            span {
                visibility: hidden;
            }
            a {
                visibility: hidden;
            }
        }
    }
    .bg-container {
        left: 0;
    }
    .rectangle {
        width: 100%;
        padding: 20%;
        background-size: 70%;
        border: none;
    }
    body {
        border: 10px solid;
        position: fixed;
    }
    .arrow {
        visibility: hidden;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .divider {
        margin-left: 5px;
    }
    .social-container {
        visibility: visible;
        position: absolute;
        bottom: 5%;
        margin: 0 210px;
    }
    .box-1-parent:hover .box-1-copy {
        visibility: hidden;
    }
    .box-1-parent:hover h3 {
        opacity: 0;
    }
    .loader {
        visibility: hidden;
    }
}

@media (min-width: 359px) and (max-width: 400px) {
    nav {
        top: -10%;
    }
   ul {
       li {
        span {
            visibility: hidden;
        }
        a {
            visibility: hidden;
        }
        h1 {
            margin: 5px 55px;
        }
       }
   }
   .arrow  {
       visibility: hidden;
   }
    .rectangle {
        border: transparent;
        background-size: 100% 100%;
        width: 30%;
        padding: 49%;
        background-size: cover;
    }
    body {
        border: 10px solid;
        position: fixed;
    }
    .bg-container {
        left: 0;
        top: 25%;
    }
    .social-container {
        visibility: visible;
        position: absolute;
        bottom: 5%;
        margin: 0 55px;
    }
    .loader {
        visibility: hidden;
    }
    .box-parent {
        width: 45%;
        height: 15%;
        left: 5%;
    }
    .box {
        width: 55%;
        height: 65%;
    }
    .box-1-parent {
        width: 45%;
        height: 15%;
        left: 0;
    }
    .box-1 {
        width: 55%;
        height: 65%;
    }
    .box-1-parent:hover .box-1-copy {
        visibility: hidden;
    }
    .box-1-parent:hover h3 {
        opacity: 0;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .divider {
        margin-left: 5px;
    }
    .date-1 {
        left: 56%;
    }
    .date {
        left: 34%;
        top: 5%;
    }
    .js-clone {
        top: 100%;
    }
}

@media (max-width: 641px) and (orientation: landscape) {
    nav {
        display: flex;
        flex-direction: row;
        top: -10%;
    }
    ul {
        left: 10%;
        li {
            span {
                visibility: hidden;
            }
            a {
                visibility: hidden;
            }
        }
    }
    .bg-container {
        left: 0;
    }
    .rectangle {
        width: 100%;
        padding: 20%;
        background-size: 70%;
        border: none;
    }
    body {
        border: 10px solid;
        position: fixed;
    }
    .arrow {
        visibility: hidden;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .divider {
        margin-left: 5px;
    }
    .social-container {
        visibility: visible;
        position: absolute;
        bottom: 5%;
        margin: 0 210px;
    }
    .box-1-parent:hover .box-1-copy {
        visibility: hidden;
    }
    .box-1-parent:hover h3 {
        opacity: 0;
    }
    .loader {
        visibility: hidden;
    }
}
@media (min-width: 401px) and (max-width: 418px) {
    nav {
        top: -8%;
    }
   ul {
       li {
        span {
            visibility: hidden;
        }
        a {
            visibility: hidden;
        }
        h1 {
            margin: 25px 85px;
        }
       }
   }
   .arrow  {
       visibility: hidden;
   }
    .rectangle {
        border: transparent;
        background-size: 100% 100%;
        width: 30%;
        padding: 49%;
        background-size: cover;
    }
    body {
        border: 10px solid;
        position: fixed;
    }
    .bg-container {
        left: 0;
        top: 25%;
    }
    .social-container {
        visibility: visible;
        position: absolute;
        bottom: 5%;
        margin: 0 85px;
    }
    .loader {
        visibility: hidden;
    }
    .box-parent {
        width: 45%;
        height: 15%;
        left: 5%;
    }
    .box {
        width: 55%;
        height: 65%;
    }
    .box-1-parent {
        width: 45%;
        height: 15%;
        left: 0;
    }
    .box-1 {
        width: 55%;
        height: 65%;
    }
    .box-1-parent:hover .box-1-copy {
        visibility: hidden;
    }
    .box-1-parent:hover h3 {
        opacity: 0;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    .divider {
        margin-left: 5px;
    }
    .date-1 {
        left: 56%;
    }
    .date {
        left: 34%;
        top: 5%;
    }
}


  